<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="10 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <contextName>highway-log</contextName>
    <logger name="org.springframework.web" level="error"/>
    <logger name="org.springboot.sample" level="error"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder"  level="ERROR" />
    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor"  level="ERROR" />
    <logger name="org.hibernate.SQL" level="ERROR" />
    <logger name="org.hibernate.engine.QueryParameters" level="ERROR" />
    <logger name="org.hibernate.engine.query.HQLQueryPlan" level="ERROR" />
    <logger name="io.swagger.models.parameters.AbstractSerializableParameter" level="ERROR" />

    <define name="dirPath" class="com.drcnet.highway.config.LogbackDirConfig"/>
    <property name="log.path" value="${dirPath}/logback.log"/>

    <appender name="file"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每天一归档 -->
            <fileNamePattern>${log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n
            </pattern>
        </encoder>
    </appender>
    <!--控制台输出 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level[%thread]%logger{56}.%method:%L -%msg%n</Pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="file"/>
        <appender-ref ref="stdout"/>
    </root>
</configuration>