<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drcnet.highway.dao.TietouFeatureStatisticGyhMapper">
    <resultMap id="BaseResultMap" type="com.drcnet.highway.entity.TietouFeatureStatisticGyh">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="month_time" jdbcType="INTEGER" property="monthTime"/>
        <result column="vlp_id" jdbcType="INTEGER" property="vlpId"/>
        <result column="vlp" jdbcType="VARCHAR" property="vlp"/>
        <result column="cheating" jdbcType="DECIMAL" property="cheating"/>
        <result column="violation" jdbcType="DECIMAL" property="violation"/>
        <result column="score" jdbcType="DECIMAL" property="score"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="black_flag" jdbcType="TINYINT" property="blackFlag"/>
    </resultMap>
    <update id="updateSecondMarkByVlpIds">
        update tietou_feature_statistic_copy3_gyh set second_flag = 2 where vlp_id in
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>
    <select id="listCheatingCar" resultMap="BaseResultMap">
        (select car_no vlp,car_no_id vlp_id,cheating,violation,score,true black_flag from tietou_blacklist where use_flag = true
        ORDER BY score desc,cheating+violation desc)
        union all
        (select ts.vlp,ts.vlp_id,ts.cheating,ts.violation,ts.score,false black_flag
        from tietou_feature_statistic ts
        where ts.is_free_car = 0
        <choose>
            <when test="carType == 0">
                and car_type = 0
            </when>
            <when test="carType == 1">
                and car_type = 1
            </when>
            <when test="carType == -1">
                and 1 = 1
            </when>
            <otherwise> and 1=2</otherwise>
        </choose>
        <choose>
              <when test="riskFlag == null or riskFlag == 0">
                  and ts.score &gt; 80
              </when>
              <when test="riskFlag == 1">
                  and ts.score between 50 and 80
              </when>
              <otherwise>
                  and ts.score between 20 and 49.99
              </otherwise>
          </choose>
        <choose>
            <when test="fields != null and fields.size != 0">
                <foreach collection="fields" item="item" open="order by " close=" desc" separator="+">
                    ${item}
                </foreach>
            </when>
            <otherwise>
                order by ts.score,ts.vlp_id desc)
            </otherwise>
        </choose>

    </select>

    <select id="listCheatingCarByTime" resultMap="BaseResultMap">
        (select car_no vlp,car_no_id vlp_id,cheating,violation,score,true black_flag from tietou_blacklist where use_flag = true
        ORDER BY score desc,cheating+violation desc)
        union all
        (SELECT DISTINCT s.vlp ,s.vlp_id ,s.cheating,s.violation,s.score,false black_flag
          FROM
	          (
		          SELECT vlp_id, vlp, cheating, violation, score,
		                diff_flagstation_info,short_dis_overweight,long_dis_lightweight,same_station,same_car_type,
		                same_car_situation,different_zhou,same_car_number,min_out_in,same_time_range_again,
		                flagstation_lost,high_speed,low_speed
		          FROM tietou_feature_statistic
		          WHERE
                    <choose>
                        <when test="riskFlag == null or riskFlag == 0">
                            score &gt; 80
                        </when>
                        <when test="riskFlag == 1">
                            score between 50 and 80
                        </when>
                        <otherwise>
                            score between 20 and 49.99
                        </otherwise>
                    </choose>
                    <choose>
                      <when test="carType == 0">
                        and car_type = 0
                        </when>
                        <when test="carType == 1">
                            and car_type = 1
                        </when>
                        <otherwise> and 1 = 1</otherwise>
                    </choose>
			            and is_free_car = 0) s,
			  (
	              SELECT vlp_id FROM tietou
	              WHERE extime BETWEEN #{beginDate} AND #{endDate}
                    <choose>
                        <when test="carDetailType == 1">
                            and vc = 1
                        </when>
                        <when test="carDetailType == 2">
                            and vc = 2
                        </when>
                        <when test="carDetailType == 3">
                            and vc = 3
                        </when>
                        <when test="carDetailType == 4">
                            and vc = 4
                        </when>
                        <when test="carDetailType == 5">
                            and vc = 5
                        </when>
                        <when test="carDetailType == 11">
                            and vc = 11
                        </when>
                        <when test="carDetailType == 12">
                            and vc = 12
                        </when>
                        <when test="carDetailType == 13">
                            and vc = 13
                        </when>
                        <when test="carDetailType == 14">
                            and vc = 14
                        </when>
                        <when test="carDetailType == 15">
                            and vc = 15
                        </when>
                        <otherwise> and 1 = 1</otherwise>
                    </choose>
                    <choose>
                        <when test="rkId != null">
                            and rk_id = #{rkId}
                        </when>
                    </choose>
                    <choose>
                        <when test="ckId != null">
                            and ck_id = #{ckId}
                        </when>
                    </choose>
                    <choose>
                        <when test="axleNum != null">
                            and axlenum = #{axleNum}
                        </when>
                    </choose>
              ) t where s.vlp_id = t.vlp_id
        <choose>
            <when test="fields != null and fields.size != 0">
                <foreach collection="fields" item="item" open=" and " close=" " separator=" and ">
                    s.${item} > 0
                </foreach>
            </when>
        </choose>
        <choose>
            <when test="fields != null and fields.size != 0">
                <foreach collection="fields" item="item" open="order by " close=" desc" separator="+">
                    s.${item}
                </foreach>
            </when>
            <otherwise>
                order by s.score, s.vlp_id desc)
            </otherwise>
        </choose>
    </select>

    <select id="getRiskProportion" resultType="com.drcnet.highway.dto.RiskPeriodAmount">
        select COUNT(case when ts.score &lt; 20 then 1 ELSE NULL end) non,
        COUNT(case when ts.score BETWEEN 20 and 49.99 then 1 ELSE NULL end) low,
        COUNT(case when ts.score BETWEEN 50 and 79.99 then 1 ELSE NULL end) middle,
        COUNT(case when ts.score BETWEEN 80 and 100 then 1 ELSE NULL end) high
        from tietou_feature_statistic_gyh ts
        <where>
            1=1
            <if test="carType == 0">
                and ts.car_type = 0
            </if>
            <if test="carType == 1">
                and ts.car_type = 1
            </if>
        </where>
    </select>
    <select id="selectByMonthAndCarId" resultMap="BaseResultMap">
        select * from tietou_feature_statistic_gyh where vlp_id = #{carNoId}
    </select>

    <select id="listByPeriod" resultMap="BaseResultMap">
        select vlp,vlp_id,score from tietou_feature_statistic_gyh where car_type = 1 order by score desc limit 0,4000
    </select>
</mapper>