<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drcnet.highway.dao.TietouFeatureStatisticMonthMapper">
  <resultMap id="BaseResultMap" type="com.drcnet.highway.entity.TietouFeatureStatisticMonth">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="month_time" jdbcType="INTEGER" property="monthTime" />
    <result column="vlp" jdbcType="VARCHAR" property="vlp" />
    <result column="vlp_id" jdbcType="INTEGER" property="vlpId" />
    <result column="same_car_number" jdbcType="INTEGER" property="sameCarNumber" />
    <result column="speed" jdbcType="INTEGER" property="speed" />
    <result column="same_car_type" jdbcType="INTEGER" property="sameCarType" />
    <result column="same_car_situation" jdbcType="INTEGER" property="sameCarSituation" />
    <result column="short_dis_overweight" jdbcType="INTEGER" property="shortDisOverweight" />
    <result column="long_dis_lightweight" jdbcType="INTEGER" property="longDisLightweight" />
    <result column="diff_flagstation_info" jdbcType="INTEGER" property="diffFlagstationInfo" />
    <result column="same_station" jdbcType="INTEGER" property="sameStation" />
    <result column="same_time_range_again" jdbcType="INTEGER" property="sameTimeRangeAgain" />
    <result column="min_out_in" jdbcType="INTEGER" property="minOutIn" />
    <result column="flagstation_lost" jdbcType="INTEGER" property="flagstationLost" />
    <result column="different_zhou" jdbcType="INTEGER" property="differentZhou" />
    <result column="label" jdbcType="SMALLINT" property="label" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="car_type" jdbcType="SMALLINT" property="carType" />
    <result column="use_flag" jdbcType="TINYINT" property="useFlag" />
    <result column="total" jdbcType="INTEGER" property="total" />
    <result column="transit_times" jdbcType="INTEGER" property="transitTimes" />
  </resultMap>
    <select id="statisticFeatureAmountByMonth" resultMap="BaseResultMap">
      select *,same_car_number+speed+same_car_type+same_car_situation+short_dis_overweight
        +long_dis_lightweight+diff_flagstation_info+flagstation_lost+same_station+same_time_range_again+min_out_in+different_zhou total
      from
        (
          select vlp,vlp_id,car_type
                  ,COUNT( case when same_car_number = 0 then 1 ELSE NULL end) same_car_number
                  ,COUNT( case when speed =1 then 1 ELSE NULL end) speed
                  ,COUNT( case when same_car_type = 0 then 1 ELSE NULL end) same_car_type
                  ,COUNT( case when same_car_situation = 0 then 1 ELSE NULL end) same_car_situation
                  ,COUNT( case when short_dis_overweight = 1 then 1 ELSE NULL end) short_dis_overweight
                  ,COUNT( case when long_dis_lightweight = 1 then 1 ELSE NULL end) long_dis_lightweight
                  ,COUNT( case when diff_flagstation_info = 1 then 1 ELSE NULL end) diff_flagstation_info
                  ,COUNT( case when flagstation_lost = 1 then 1 ELSE NULL end) flagstation_lost
                  ,COUNT( case when same_station = 1 then 1 ELSE NULL end) same_station
                  ,COUNT( case when same_time_range_again = 1 then 1 ELSE NULL end) same_time_range_again
                  ,COUNT( case when min_out_in = 1 then 1 ELSE NULL end) min_out_in
                  ,COUNT( case when different_zhou = 1 then 1 ELSE NULL end) different_zhou
                  ,COUNT(*) transit_times
          from tietou_feature_extraction tf where month_time = #{monthTime}  GROUP BY vlp_id) res
      ORDER BY total desc;

    </select>

    <select id="listAllByPeriod" resultMap="BaseResultMap">
        select * from tietou_feature_statistic_month where id between #{start} and #{end}
    </select>
</mapper>