<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drcnet.highway.dao.TietouBlacklistMapper">
  <resultMap id="BaseResultMap" type="com.drcnet.highway.entity.TietouBlacklist">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="car_no_id" jdbcType="INTEGER" property="carNoId" />
    <result column="car_no" jdbcType="VARCHAR" property="carNo" />
    <result column="cheating" jdbcType="INTEGER" property="cheating" />
    <result column="violation" jdbcType="INTEGER" property="violation" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="use_flag" jdbcType="TINYINT" property="useFlag" />
    <result column="risk_flag" jdbcType="VARCHAR" property="riskFlag" />
    <result column="escape_behavior" jdbcType="VARCHAR" property="escapeBehavior" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
</mapper>